<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Bootstrap Icon-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <title>Person検索</title>
    <style>
        /* 上部固定ヘッダーのスタイル */
        .fixed-header {
            position: sticky;
            top: 0;
            z-index: 1000;
            padding: 10px; 
        }

        /* テーブルを含む div のスクロール設定 */
        .table-container {
            max-height: 450px; 
            overflow-y: auto; 
            padding: 10px;
        }
    </style>
</head>
<body class="column-gap-3">
    <div class="container">
        <h3 class="text-primary">Person検索<i class="bi bi-person-lines-fill"></i></h3>
    </div>
    <div class="form container">
        <form action="./" method='POST'>
            <div class="row">
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="search_param" value="" placeholder="名前を入力してください">
                </div>
                <div class="col-sm-2">
                    <input type="submit" class="btn btn-primary w-100" value="検索">
                </div>
            </div>
        </form>
        {% if search_result != "" %}
        <div class="table-container">
            <table class="table table-sm table-light table-striped table-hover">
                <tr>
                    <th>名前</th>
                    <th>email</th>
                    <th>生年月日</th>
                    <th>仕事</th>
                </tr>
                {% for item in search_result %}
                <tr>
                    <td> {{item[1]}}</td>                
                    <td> {{item[2]}}</td>
                    <td> {{item[3]}}</td>
                    <td> {{item[4]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
    <!-- Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>

